* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

article {
  border: 5px solid black;
  font-family: sans-serif;
  color: #300404;
}

/* .boxes {
  display: flex;
  /* gap: 40px; */
/* align-items: center; */
/* justify-content: space-between; */

.product-descripton {
  /* clear: both; */
  /* margin-bottom: 10px; */
}

.product-price {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  /* background-color: aqua; */
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.container-shoe {
  /* margin-bottom: 20px; */
  /* background-color: red; */
  margin-top: 20px;
  /* margin-right: 40px; */
  /* flex: 1; */
}
.shoe-img {
  /* margin-right: 40px; */
  /* background-color: yellow; */
}

.container-detail {
  /* margin-right: 20px; */
  /* background-color: blue; */
  /* flex: 1; */
  margin-top: 20px;
}

.related-title {
  text-align: center;
  background-color: rgb(247, 247, 247);
  padding: 10px 0;
  /* padding: 15px;*/
  text-transform: uppercase;
}

.narx {
  font-size: 26px;
  color: black;
  margin: 0;
}

.deliver {
  color: #777;
  text-transform: uppercase;
  /* padding: 0; */

  /* margin-bottom: 20px; */
  /* margin-top: 7px; */
}

.detail {
  margin-bottom: 10px;
  color: black;
  text-transform: uppercase;
  /* padding: 10px 0; */
  /* margin-top: 20px; */
  /* margin-bottom: 0; */
}

a:link,
a:visited {
  color: #444;
}

a:hover,
a:active {
  color: black;
  text-decoration: none;
}
button {
  border: none;
  background-color: black;
  border-top: 4px solid black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  font-weight: bold;
}
button:hover {
  color: black;
  background-color: white;
}

ul {
  list-style: square;
  /* padding: 10px 25px; */
}
li {
  margin: 10px;
  margin-right: 40px;
}

h2::before {
  content: "SALE";
  color: white;
  background-color: red;
  padding: 5px 10px;
  position: absolute;
  top: -20px;
  left: -42px;
  letter-spacing: 3px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  /* display: flex; */
  display: inline-block;
  margin: 0 7px;
  margin-top: 25px;
}

.color:hover {
  border: rgb(255, 255, 255) solid;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: red;
}
.color-yelow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

article {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
  /* align-items: center; */
  /* row-gap: 1fr 250px 1fr; */
}

.related-title {
  grid-column: 1 /-1;
}

button {
  grid-column: 1 / -1;
}
